<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48076843347-3basrpeqnsgg72o68r1t5dva96icfq5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48076843347-3basrpeqnsgg72o68r1t5dva96icfq5j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>48076843347-e274qoubeu4i89jn0nq646br4osrge8k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-HqW8imltneWFVsNmA0Z-Ao9_o3HoHgI</string>
	<key>GCM_SENDER_ID</key>
	<string>48076843347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>my-e-commerce-ce29e</string>
	<key>STORAGE_BUCKET</key>
	<string>my-e-commerce-ce29e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48076843347:ios:8e5eb21cf0f7bb51f599a6</string>
</dict>
</plist>